body {
}

.jumbotron {
    display: flex;
    align-items: center;
    padding: 15px 30px 0 30px;
    text-align: center;
    margin-top: 200px;
}

.main-bg {
    background-image: url('../Images/main-bg.jpeg');
    min-height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

.fast-rent-section {
    text-align: center;
    display: flex;
    color: rgb(153,153,153);
    font-size: 16px;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #1089FF;
    top: -50px;
    margin-bottom: -80px;
}

.request-form {
    padding: 30px;
    background-color: rgba(0,0,0,0);
    text-align: center;
}

.form-group > .form-control::-webkit-input-placeholder {
    color: white;
    opacity: 1;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.10);
    color: white;
    font-size: 12px;
}

.form-double-item .form-group {
    padding: 0;
}
.mr-2 {
    margin-right: 2px;
}

.ml-2 {
    margin-left: 2px;
}

.about-section {
    background-color: #01D28E;
    padding: 20px 40px;
    margin: 50px 0 20px 0;
    color: white;
    position: relative;
    max-width: 50%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    text-align:right;
    border-radius:10px;
}
.about-img {
    background-image: url(../Images/car-bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 200px;
    width: 100%;
    height: 200px;
    z-index: -1;
    position: absolute;
    right: 0;
    background-attachment: fixed;
    margin-top: 150px;
}
.abt-cont {
    display: flex;
    justify-content: flex-end;
}
.login-sec {
    text-align: center;
    display: flex;
    color: rgb(153,153,153);
    font-size: 16px;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(16,137,255,0.85);
    margin:150px auto;
    max-width:50%;
}
.login-bg {
    background-image: url('../Images/login-bg.jpeg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    height: 103%;
    width: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
}

.vehicle-img {
    width: 100%;
    padding: 10px;
    border-radius: 16px;
}

.car-details{
    text-align:center;
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.general-details{
    text-align:center;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.pills{
    margin: 10px 0;
}
.tab-pane{
    position:absolute;
}
.tab-pane.active{
    position:relative;
}
.nav-pills li.active a {
    color: #1089ff !important;
    background: transparent !important;
}
.nav-pills{
    display:flex;
    justify-content:center;
}
.pills {
    margin-top: 40px;
}

.pills .tab-pane {
    padding: 2em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.pills .features {
    margin: 0;
    padding: 0;
}

.pills .features li {
    list-style: none;
}
.book-button{
    display:flex;
    justify-content:center;
    width:100%;
}
@media (max-width:960px){
    .services-wrap {
        display:none;
    }
    .about-section {
        max-width: 100%;
        align-items: flex-start;
        text-align: left;
    }
    .abt-cont{
        justify-content:center;
    }
}
