body {
}

/*Main Page*/
.jumbotron {
    display: flex;
    align-items: center;
    padding: 15px 30px 0 30px;
    text-align: center;
    margin-top: 200px;
}

.main-bg {
    background-image: url('../Images/main-bg.jpeg');
    min-height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

.fast-rent-section {
    text-align: center;
    display: flex;
    color: rgb(153,153,153);
    font-size: 16px;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #1089FF;
    top: -50px;
    margin-bottom: -80px;
}

.request-form {
    padding: 30px;
    background-color: rgba(0,0,0,0);
    text-align: center;
}

.form-group > .form-control::-webkit-input-placeholder {
    color: white;
    opacity: 1;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.10);
    color: white;
    font-size: 12px;
}

.form-double-item .form-group {
    padding: 0;
}
.mr-2 {
    margin-right: 2px;
}

.ml-2 {
    margin-left: 2px;
}

.about-section {
    background-color: #01D28E;
    padding: 20px 40px;
    margin: 50px 0 20px 0;
    color: white;
    position: relative;
    max-width: 50%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    text-align:right;
    border-radius:10px;
}
.about-img {
    background-image: url(../Images/car-bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 200px;
    width: 100%;
    height: 200px;
    z-index: -1;
    position: absolute;
    right: 0;
    background-attachment: fixed;
    margin-top: 150px;
}
.abt-cont {
    display: flex;
    justify-content: flex-end;
}

/*Login*/

.login-sec {
    text-align: center;
    display: flex;
    color: rgb(153,153,153);
    font-size: 16px;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(16,137,255,0.85);
    margin:150px auto;
    max-width:50%;
}
.login-bg {
    background-image: url('../Images/login-bg.jpeg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    height: 103%;
    width: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
}

/*Vehicle Details*/

.vehicle-img {
    width: 100%;
    padding: 10px;
    border-radius: 16px;
}

.car-details{
    text-align:center;
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.general-details{
    text-align:center;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.pills{
    margin: 10px 0;
}
.tab-pane{
    position:absolute;
}
.tab-pane.active{
    position:relative;
}
.nav-pills li.active a {
    color: #1089ff !important;
    background: transparent !important;
}
.nav-pills{
    display:flex;
    justify-content:center;
}
.pills {
    margin-top: 40px;
}

.pills .tab-pane {
    padding: 2em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.pills .features {
    margin: 0;
    padding: 0;
}

.pills .features li {
    list-style: none;
}
.book-button{
    display:flex;
    justify-content:center;
    width:100%;
}

/*Vehicles*/
.car-wrap {
    margin-bottom: 40px;
    -webkit-box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.06);
    background: #fff;
    border-radius:10px;
}

    .car-wrap .img {
        width: 100%;
        height: 220px;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

.car-wrap .text {
    border-top: none;
    padding: 20px 30px 30px;
}

.car-wrap .text .price {
    color: #1089ff;
    margin-bottom: 0;
    font-weight: 600;
}

.car-wrap .text .price span {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
}

.car-wrap .text h2 {
    font-size: 20px;
    font-weight: 500;
}

.car-wrap .text h2 a {
    color: #000000;
}

.car-wrap .text span.cat {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.2);
    display: block;
    margin-bottom: 0;
}
.car-wrap .text p{
    display:flex;
    flex-direction:row;

}
.car-wrap .text p.d-block {
    width: 100%;
    
}

.car-wrap .text p.d-block a {
    width: 50%;
    margin: 0 3px;
}

.block-27 ul {
    padding: 0;
    margin: 0;
}

.block-27 ul li {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400;
}

.block-27 ul li a, .block-27 ul li span {
    color: #1089ff;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
}
.block-27 ul li.active a, .block-27 ul li.active span {
    background: #1089ff;
    color: #fff;
    border: 1px solid transparent;
}

.car-filter {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:100%;
}
.filter-container {
    background-color: #1089ff;
    border-radius: 10px;
    margin-bottom: 15px;
    
}
.pagination{
    width:100%;
    display:flex;
    justify-content:center;
}
.collapse-btn{
    background-color:transparent;
    border-color:transparent;
    color:black;
    display:none;
}
.collapse-btn:hover {
    color: white;
}

/*Book Vehicle*/

.rent-section {
    background-color: #1089ff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 85px 0;
    box-shadow: 0 5px 20px 4px rgba(0,0,0,0.4);
}
.rent-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.rent-form  .form-group .form-control{
    width:250px;
}
#preview{
    max-width: 250px;
    max-height:250px;
    object-fit:cover;
    margin-top:10px;
    font-size:12px;
    border-radius:10px;
}

/*Admin Panel*/

.notification-list {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.1);
}
.notification-list .nav {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin: 0 -3rem 2rem;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  position: relative;
}

.notification-list .nav:before,
.notification-list .nav:after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  border: 0.75rem solid transparent;
  border-bottom: 0.75rem solid #f2f0f0;
  transform-origin: center;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
  z-index: -1;
}
.notification-list .nav:before {
  left: 0;
  transform: translateY(-0.45rem) rotate(135deg) translateX(-0.4rem);
}
.notification-list .nav:after {
  right: 0;
  transform: translateY(-0.45rem) rotate(-135deg) translateX(0.4rem);
}
    .notification-list .nav a {
        display: inline-block;
        margin: 0 3rem;
        font-size: 2rem;
        color: #1089ff;
        text-decoration:none;
        opacity: 0.7;
        transition: 0.25s;
    }
.notification-list .nav a:hover {
  opacity: 1;
}
.notification-list .list .num {
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.25s;
}
.notification-list .list .num:nth-child(0):before {
  content: '0';
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  width: 2rem;
  opacity: 0.05;
  transition: 0.25s;
}
.notification-list .list .num:nth-child(1):before {
  content: '1';
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  width: 2rem;
  opacity: 0.05;
  transition: 0.25s;
}
.notification-list .list .num:nth-child(2):before {
  content: '2';
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  width: 2rem;
  opacity: 0.05;
  transition: 0.25s;
}
.notification-list .list .num:nth-child(3):before {
  content: '3';
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  width: 2rem;
  opacity: 0.05;
  transition: 0.25s;
}
.notification-list .list .num:nth-child(4):before {
  content: '4';
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  width: 2rem;
  opacity: 0.05;
  transition: 0.25s;
}
.notification-list .list .num:nth-child(5):before {
  content: '5';
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  width: 2rem;
  opacity: 0.05;
  transition: 0.25s;
}
.notification-list .list .num:nth-child(6):before {
  content: '6';
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  width: 2rem;
  opacity: 0.05;
  transition: 0.25s;
}
.notification-list .list .num:nth-child(7):before {
  content: '7';
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  width: 2rem;
  opacity: 0.05;
  transition: 0.25s;
}
.notification-list .list .num:nth-child(8):before {
  content: '8';
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  width: 2rem;
  opacity: 0.05;
  transition: 0.25s;
}
.notification-list .list .num:nth-child(9):before {
  content: '9';
  font-size: 4rem;
  font-weight: bold;
  color: #000;
  width: 2rem;
  opacity: 0.05;
  transition: 0.25s;
}
.notification-list .list .num h3 {
  position: relative;
  left: -1.5rem;
  color: #3d3d3d;
  font-size: 0.85rem;
  transition: 0.25s;
}
.notification-list .list .num:hover {
  background-color: #fafafa;
  cursor: pointer;
}
.notification-list .list .num:hover:before {
  opacity: 0.2;
}
.notification-list .list .num:hover h3 {
  left: 1rem;
}


/*Reservations*/

.user-list tbody td > img {
    position: relative;
    width: 50px;
    height:50px;
    object-fit:cover;
    border-radius:5px;
    float: left;
    margin-right: 15px;
}

.user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}

.user-list tbody td .user-subhead {
    font-size: 0.875em;
    font-style: italic;
}

/*Modal View*/
.details-modal{
    position:fixed;
    z-index:5;
    background-color:rgba(0,0,0,0.5);
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.details-modal a{
    position:fixed;
    margin-top: 50px;
    font-size:25px;
    right:0;
    color:white;
}
/* TABLES */
.table {
    border-collapse: separate;
}
    .table tbody > tr {
        background: #f5f5f5;
        border-radius:8px;

    }
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #eee;
}

.table thead > tr > th {
    border-bottom: 1px solid #C2C2C2;
    padding-bottom: 0;
}

.table tbody > tr > td {
    font-size: 0.875em;
    border-top: 10px solid #fff;
    vertical-align: middle;
    padding: 12px 8px;
}

    .table tbody > tr > td:first-child,
    .table thead > tr > th:first-child {
        padding-left: 20px;
    }

.table thead > tr > th span {
    border-bottom: 2px solid #C2C2C2;
    display: inline-block;
    padding: 0 5px;
    padding-bottom: 5px;
    font-weight: normal;
}

.table thead > tr > th > a span {
    color: #344644;
}

    .table thead > tr > th > a span:after {
        content: "\f0dc";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        margin-left: 5px;
        font-size: 0.75em;
    }


.table thead > tr > th > a:hover span {
    text-decoration: none;
    color: #2bb6a3;
    border-color: #2bb6a3;
}

.table.table-hover tbody > tr > td {
    -webkit-transition: background-color 0.15s ease-in-out 0s;
    transition: background-color 0.15s ease-in-out 0s;
}

.table tbody tr td .call-type {
    display: block;
    font-size: 0.75em;
    text-align: center;
}

.table tbody tr td .first-line {
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.125em;
}

    .table tbody tr td .first-line span {
        font-size: 0.875em;
        color: #969696;
        font-weight: 300;
    }

.table tbody tr td .second-line {
    font-size: 0.875em;
    line-height: 1.2;
}

.table a.table-link {
    margin: 0 5px;
    font-size: 1.125em;
}

    .table a.table-link:hover {
        text-decoration: none;
        color: #2aa493;
    }

    .table a.table-link.danger {
        color: #fe635f;
    }

        .table a.table-link.danger:hover {
            color: #dd504c;
        }





@media (max-width:960px){
    .services-wrap {
        display:none;
    }
    .about-section {
        max-width: 100%;
        align-items: flex-start;
        text-align: left;
    }
    .abt-cont{
        justify-content:center;
    }
    .car-filter {
        background-color: #1089ff;
        flex-direction: column;
    }
    .collapse-btn{
        display:block;
    }
}
