body {
}

/*Main Page*/
.jumbotron {
    display: flex;
    align-items: center;
    padding: 15px 30px 0 30px;
    text-align: center;
    margin-top: 200px;
}

.main-bg {
    background-image: url('../Images/main-bg.jpeg');
    min-height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

.fast-rent-section {
    text-align: center;
    display: flex;
    color: rgb(153,153,153);
    font-size: 16px;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #1089FF;
    top: -50px;
    margin-bottom: -80px;
}

.request-form {
    padding: 30px;
    background-color: rgba(0,0,0,0);
    text-align: center;
}

.form-group > .form-control::-webkit-input-placeholder {
    color: white;
    opacity: 1;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.10);
    color: white;
    font-size: 12px;
}

.form-double-item .form-group {
    padding: 0;
}
.mr-2 {
    margin-right: 2px;
}

.ml-2 {
    margin-left: 2px;
}

.about-section {
    background-color: #01D28E;
    padding: 20px 40px;
    margin: 50px 0 20px 0;
    color: white;
    position: relative;
    max-width: 50%;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    text-align:right;
    border-radius:10px;
}
.about-img {
    background-image: url(../Images/car-bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 200px;
    width: 100%;
    height: 200px;
    z-index: -1;
    position: absolute;
    right: 0;
    background-attachment: fixed;
    margin-top: 150px;
}
.abt-cont {
    display: flex;
    justify-content: flex-end;
}

/*Login*/

.login-sec {
    text-align: center;
    display: flex;
    color: rgb(153,153,153);
    font-size: 16px;
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(16,137,255,0.85);
    margin:150px auto;
    max-width:50%;
}
.login-bg {
    background-image: url('../Images/login-bg.jpeg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    height: 103%;
    width: 100%;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
}

/*Vehicle Details*/

.vehicle-img {
    width: 100%;
    padding: 10px;
    border-radius: 16px;
}

.car-details{
    text-align:center;
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.general-details{
    text-align:center;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.pills{
    margin: 10px 0;
}
.tab-pane{
    position:absolute;
}
.tab-pane.active{
    position:relative;
}
.nav-pills li.active a {
    color: #1089ff !important;
    background: transparent !important;
}
.nav-pills{
    display:flex;
    justify-content:center;
}
.pills {
    margin-top: 40px;
}

.pills .tab-pane {
    padding: 2em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.pills .features {
    margin: 0;
    padding: 0;
}

.pills .features li {
    list-style: none;
}
.book-button{
    display:flex;
    justify-content:center;
    width:100%;
}

/*Vehicles*/
.car-wrap {
    margin-bottom: 40px;
    -webkit-box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.06);
    background: #fff;
    border-radius:10px;
}

.car-wrap .img {
    width: 100%;
    height: 220px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.car-wrap .text {
    border-top: none;
    padding: 20px 30px 30px;
}

.car-wrap .text .price {
    color: #1089ff;
    margin-bottom: 0;
    font-weight: 600;
}

.car-wrap .text .price span {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
}

.car-wrap .text h2 {
    font-size: 20px;
    font-weight: 500;
}

.car-wrap .text h2 a {
    color: #000000;
}

.car-wrap .text span.cat {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.2);
    display: block;
    margin-bottom: 0;
}
.car-wrap .text p{
    display:flex;
    flex-direction:row;

}
.car-wrap .text p.d-block {
    width: 100%;
}

.car-wrap .text p.d-block a {
    width: 50%;
    margin: 0 3px;
}

.block-27 ul {
    padding: 0;
    margin: 0;
}

.block-27 ul li {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400;
}

.block-27 ul li a, .block-27 ul li span {
    color: #1089ff;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
}
.block-27 ul li.active a, .block-27 ul li.active span {
    background: #1089ff;
    color: #fff;
    border: 1px solid transparent;
}

.car-filter {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    width:100%;
}
.filter-container {
    background-color: #1089ff;
    border-radius: 10px;
    margin-bottom: 15px;
}
.pagination{
    width:100%;
    display:flex;
    justify-content:center;
}
.collapse-btn{
    background-color:transparent;
    border-color:transparent;
    color:black;
}
.collapse-btn:hover {
    color: white;
}


@media (max-width:960px){
    .services-wrap {
        display:none;
    }
    .about-section {
        max-width: 100%;
        align-items: flex-start;
        text-align: left;
    }
    .abt-cont{
        justify-content:center;
    }
    .car-filter {
        background-color: #1089ff;
        flex-direction: column;

    }
}
