body {
    padding-top: 50px;
    width: 100%;
}

.icon {
    color: #1089FF;
    width: 5em !important;
    height: 2em !important;
}

.btn-success {
    background-color: #01D28E;
    border-color: #01D28E;
}

.btn-primary {
    background-color: #1089FF;
    border-color: #1089FF;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar.transparent.navbar-inverse {
    background: rgba(255, 255, 255, 0.4);
    border: none;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: black;
}
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-brand:hover {
        color: #1089ff;
    }

.footer {
    display: flex;
    flex-direction: column;
    background-color: #1089FF;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
}

    .footer ul {
        padding: 0;
    }

        .footer ul li {
            list-style: none;
            text-decoration: none;
        }

    .footer a {
        text-decoration: none;
        color: whitesmoke;
    }

    .footer .container {
        display: flex;
        flex-direction: row;
    }

.footer-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
}


/*Admin Sidebar CSS*/
.admin-nav,
.admin-nav:before,
.admin-nav:after {
    box-sizing: border-box;
}

.admin-nav:after {
    content: "";
}

.admin-nav {
    float: left;
    position: fixed;
    z-index:2;
    top: 25%;
    left: 0;
    background: transparent;
}
.admin-nav i{
    color:white;
    margin:20px 10px;

}

.admin-nav ul {
    text-align: center;
    text-decoration:none;
    list-style:none;
    padding:0;
}
.sidebar-link {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    width: 80px;
    line-height: 55px;
    left: 0;
    text-align: right;
    padding-right: 18px;
    color: transparent;
    top: 0;
    transition: all 0.4s ease-out;
    overflow: hidden;
    text-overflow: clip;
    border-bottom-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    z-index:2;
}
a.sidebar-link {
    text-decoration: none;
}
.sidebar-link:hover {
    width: 160px;
    transition: all 0.4s ease-out;
    background-color: #1089ff;
    color: white;

}
.admin-nav ul li {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    width: 80px;
    cursor: pointer;
    background: #1089ff;
    text-transform: uppercase;
    transition: all 0.4s ease-out;
    border-bottom-color:white;
    border-bottom-width:1px;
    border-bottom-style:solid;
    
}




