@{
    ViewBag.Title = "BookVehicle";
}



<div class="container rent-section">
    <form action="#" class="request-form rent-form bg-primary">
        <div>
            <div class="form-group">
                <label for="" class="label">Ad - Soyad</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="" class="label">T.C. Kimlik Numarası</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-double-item">
                <div class="form-group col-lg-6">
                    <label for="" class="label">Alış Tarihi</label>
                    <input type="date" class="form-control mr-2" id="book_pick_date">
                </div>
                <div class="form-group col-lg-6">
                    <label for="" class="label">Veriş Tarihi</label>
                    <input type="date" class="form-control ml-2" id="book_off_date">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="label">Ehliyet Yaşı</label>
                <input type="text" class="form-control" id="time_pick">
            </div>
            <div class="form-group">
                <label for="" class="label">Ehliyet Yaşı</label>
                <input type="text" class="form-control" id="time_pick">
            </div>
            <div class="form-group">
                <label for="" class="label">Ehliyet Yaşı</label>
                <input type="text" class="form-control" id="time_pick">
            </div>
        </div>
        <div>
            <div class="form-group">
                <label for="" class="label">Ad - Soyad</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="" class="label">T.C. Kimlik Numarası</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-double-item">
                <div class="form-group col-lg-6">
                    <label for="" class="label">Alış Tarihi</label>
                    <input type="date" class="form-control mr-2" id="book_pick_date">
                </div>
                <div class="form-group col-lg-6">
                    <label for="" class="label">Veriş Tarihi</label>
                    <input type="date" class="form-control ml-2" id="book_off_date">
                </div>
            </div>
            <div class="form-group" style="margin-top:20px;">
                <input type="submit" value="Rezervasyon Talebi Gönder" class="btn btn-success submit">
            </div>
        </div>
        
    </form>
</div>
