@{
    ViewBag.Title = "Contact";
}




<section class="about-bg" style="background-image: url('../../Images/car-bg-2.jpg');">
    <div class="container">
        <div class="col-md-9 ">
            <h1>İletişim</h1>
        </div>
    </div>
</section>
<section class="about-text">
    <div class="container">
        <div class="col-md-6 about-side-img" style="background-image: url(../../Images/car-ex.jpg);">
        </div>
        <div class="col-md-6">
            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>
            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>
    </div>
</section>