@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="fast-rent-section col-md-4">
        <form action="#" class="request-form bg-primary">
            <h2>Make your trip</h2>
            <div class="form-group">
                <label for="" class="label">Pick-up location</label>
                <input type="text" class="form-control" placeholder="City, Airport, Station, etc">
            </div>
            <div class="form-group">
                <label for="" class="label">Drop-off location</label>
                <input type="text" class="form-control" placeholder="City, Airport, Station, etc">
            </div>
            <div class="form-double-item">
                <div class="form-group col-lg-6">
                    <label for="" class="label">Pick-up date</label>
                    <input type="date" class="form-control mr-2" id="book_pick_date" placeholder="Date">
                </div>
                <div class="form-group col-lg-6">
                    <label for="" class="label">Drop-off date</label>
                    <input type="date" class="form-control ml-2" id="book_off_date" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="label">Pick-up time</label>
                <input type="text" class="form-control" id="time_pick" placeholder="Time">
            </div>
            <div class="form-group">
                <input type="submit" value="Rent A Car Now" class="btn btn-success submit">
            </div>
        </form>
    </div>
    <div class="col-md-8 d-flex align-items-center">
        <div class="services-wrap rounded-right w-100">
            <h3 class="heading-section mb-4">Better Way to Rent Your Perfect Cars</h3>
            <div class="row d-flex mb-4">
                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                    <div class="services w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Choose Your Pickup Location</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                    <div class="services w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Select the Best Deal</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex align-self-stretch ftco-animate">
                    <div class="services w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
                        <div class="text w-100">
                            <h3 class="heading mb-2">Reserve Your Rental Car</h3>
                        </div>
                    </div>
                </div>
            </div>
            <p><a href="#" class="btn btn-primary py-3 px-4">Reserve Your Perfect Car</a></p>
        </div>
    </div>
    @*<h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>