@{
    ViewBag.Title = "Anasayfa";
}
<div class="main-bg ">
</div>

<div class="jumbotron">
    <div class="fast-rent-section col-md-4 col-xs-10">
        <form action="#" class="request-form bg-primary">
            <h2>Yolculuğa Başla!</h2>
            <div class="form-group">
                <label for="" class="label">Alım Noktası</label>
                <input type="text" class="form-control" placeholder="Şehir, Ardes vb.">
            </div>
            <div class="form-group">
                <label for="" class="label">Teslim Noktası</label>
                <input type="text" class="form-control" placeholder="Şehir, Ardes vb.">
            </div>
            <div class="form-double-item">
                <div class="form-group col-lg-6">
                    <label for="" class="label">Alım Tarihi</label>
                    <input type="date" class="form-control mr-2" id="book_pick_date">
                </div>
                <div class="form-group col-lg-6">
                    <label for="" class="label">Teslim Tarihi</label>
                    <input type="date" class="form-control ml-2" id="book_off_date">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="label">Alım Saati</label>
                <input type="time" class="form-control" id="time_pick">
            </div>
            <div class="form-group">
                <input type="submit" value="Hemen Kirala" class="btn btn-success submit">
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div class="services-wrap">
            <h3>Better Way to Rent Your Perfect Cars</h3>
            <div>
                <div class="col-md-4">
                    <div>
                        <div class="align-items-center justify-content-center"><span class="glyphicon glyphicon-map-marker icon"></span></div>
                        <div class="text">
                            <h3>Aracı alacağınız yeri seçin</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <div><span class="glyphicon glyphicon-piggy-bank icon"></span></div>
                        <div>
                            <h3>En hesaplı ideal aracınızı bulun</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <div><span class="glyphicon glyphicon-road icon"></span></div>
                        <div>
                            <h3>Rezervasyonunuzu yapın!</h3>
                        </div>
                    </div>
                </div>
            </div>
            <p><a href="#" class="btn btn-primary">İdeal Aracınızı Şimdi Seçin</a></p>
        </div>
    </div>
</div>

<div class="abt-cont">
    <div class="about-img"></div>
    <div class="about-section">
        <h3>Hakkımızda</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris diam lorem, finibus nec ultrices eget,
            hendrerit vel nisi. Sed sed maximus nulla. Phasellus suscipit tellus pulvinar, molestie odio ac, consectetur
            nisl. Curabitur a velit elit. Proin efficitur et libero et consequat. Donec dictum lectus eu ante consectetur
            consequat. Nullam eu convallis tortor. Vestibulum dictum magna sed molestie tincidunt. Phasellus in turpis gravida,
            fringilla enim id, pharetra risus. Sed eros lectus, sollicitudin ac malesuada vitae, maximus vitae mi. Mauris
            pellentesque eleifend magna sed sodales. Proin rhoncus augue sed feugiat cursus. Aenean placerat et sapien sit
            amet eleifend. Curabitur rutrum, justo id laoreet vestibulum, orci tellus venenatis sem, et dapibus dolor magna
            non tortor. Etiam porta varius orci, sed efficitur arcu semper a. Donec in congue nibh, vel facilisis ante.
        </p>
    </div>
</div>
