
@{
    ViewBag.Title = "Giriş Yap";
}
<div class="login-bg">
    
</div>
<div class="login-sec">
    <form action="#" class="request-form bg-primary">
        <h2>Giriş Yap</h2>
        <div class="form-group">
            <label>Kullanıcı Adı</label>
            <input type="text" class="form-control" >
        </div>
        <div class="form-group">
            <label>Şifre</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-double-item">
            <input type="radio" id="admin" name="fav_language" value="admin">
            <label for="admin">Yönetici</label>
            <input type="radio" id="employee" name="fav_language" value="employee">
            <label for="employee">Personel</label>
        </div>
        <div class="form-group">
            <input type="submit" value="Giriş Yap" class="btn btn-success submit">
        </div>
    </form>

</div>
