
@{
    ViewBag.Title = "Araç Detayları";
}

<div class="container">
    <h2>Araç Detayları</h2>
    <div class="car-details">
        <img class="vehicle-img" src="~/Images/g60.jpg" alt="Car" />
        <h5>Mercedes</h5>
        <h3>G60</h3>
        <div class="general-details">
            <p><i class="icon fas fa-tachometer-alt"></i><br />KM - 40000</p>
            <p><i class="icon fas fa-cogs"></i><br />Vites - Manuel</p>
            <p><i class="icon fas fa-gas-pump"></i><br />Yakıt - Benzin</p>
            <p><i class="icon fas fa-couch"></i><br />Koltuk Sayısı - 5</p>
            <p><i class="icon fas fa-suitcase-rolling"></i><br />Bagaj Hacmi - 454L</p>
        </div>
    </div>
</div>
<div>
    <div class="col-md-12 pills">
        <div>
            <div>
                <ul class="nav nav-pills" id="pills-tab" role="tablist">

                    <li class="nav-item active">
                        <a class="nav-link" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Özellikler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer" aria-expanded="true">Açıklama</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active in" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="features">
                                <li>Airconditions</li>
                                <li>Child Seat</li>
                                <li>GPS</li>
                                <li>Luggage</li>
                                <li>Music</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="features">
                                <li>Seat Belt</li>
                                <li>Sleeping Bed</li>
                                <li>Water</li>
                                <li>Bluetooth</li>
                                <li>Onboard computer</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="features">
                                <li>Audio input</li>
                                <li>Long Term Trips</li>
                                <li>Car Kit</li>
                                <li>Remote central locking</li>
                                <li>Climate control</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a dolor at dolor maximus consectetur. Fusce neque lorem, elementum quis massa id, eleifend scelerisque leo. Nunc elit felis, congue vel ante sed, semper convallis nibh. Pellentesque in risus condimentum, venenatis.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="book-button">
    @Html.ActionLink("Rezervasyon Yap", "BookVehicle", "Home", new { area = "" }, new { @class = "btn btn-primary" })
</div>
